.DS_Store
node_modules/
dist/
coverage/
playwright-report/
test-results/
*.log
*.zip
*.blend
*.fbx
*.mp4
*.mov
*.webm
*.gif

/source-assets/*
!/source-assets/README.md

/public/processed-assets/*
!/public/processed-assets/README.md

.env
.env.local
